export QDRANT_API_KEY=HfdzcG6VT3CE3mtDaruUm4OiiuUvElXmifHw5wWPt-krAu8In5dgvQ
export QDRANT_HOST=https://2ea5d1ac-574b-4a81-802b-2b938c9e92ea.us-east-1-0.aws.cloud.qdrant.io:6333

export OPENAI_API_KEY=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
export COHERE_API_KEY=8xwPPgTCigmIfKBFcwMAKldhrPLp5pZzwF1bg94g
